div.formalBlock > span.title > span.titleNote::before {
    content: "(";
}

div.formalBlock > span.title > span.titleNote::after {
    content: ")";
}

div.formalBlock > span.title::after {
    content: ".";
}

div.formalBlock > span.title {
    margin-right: 0.5em;
}

div.formalBlock > span.title > span.titlePrefix {
    font-weight: bold;
}

div.formalBlock > span.title > span.number {
    font-weight: bold;
}

div.formalBlock > div.body {
    display: inline;
}

div.formalBlock > div.body > p:first-child {
    display: inline;
}

div.formalBlock > div.body {
    font-style: italic;
}
