.formalBlock > .title > .titleNote::before {
    content: "(";
}

.formalBlock > .title > .titleNote::after {
    content: ")";
}

.formalBlock > .title::after {
    content: ".";
}

.formalBlock > .title {
    margin-right: 0.5em;
}

.formalBlock > .title > .titlePrefix {
    font-weight: bold;
}

.formalBlock > .title > .number {
    font-weight: bold;
}

div.formalBlock > .body {
    font-style: italic;
}
