body {
    max-width: 1058px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    hyphens: auto;
}

p {
    text-indent: 2em;
    text-align: justify;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
}

section.scribaDoc {
    margin-left: 58px;
    width: 70%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

code {
    font-size: 0.9rem;
}

.inlineCode > code {
    white-space: pre-wrap;
}

.formalBlock {
    margin-top: 1em;
    margin-bottom: 1em;
}

.formalBlock > .title > .titlePrefix {
    font-weight: bold;
}

.formalBlock > .title > .number {
    font-weight: bold;
}

.formalBlock > .body {
    font-style: italic;
}

.formalBlock.proof > .title {
    font-style: italic;
    font-weight: normal;
}

.formalBlock.proof > .body {
    font-style: normal;
    font-weight: normal;
}

.formalBlock.proof > .title > .titlePrefix {
    font-style: italic;
    font-weight: normal;
}

a.noteMarkBack {
    font-size: 1.2em;
    margin-left: -0.2em;
    margin-right: 0.1em;
    text-decoration: none;
}

ol {
    list-style: decimal;
}

ol ol {
    list-style: lower-latin;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: decimal;
}

li > .body > p:first-child {
    text-indent: 0;
}

ul > .body > p:first-child {
    text-indent: 0;
}

section.notes {
    margin-top: 1em;
    border-top: 1px solid grey;
    margin-left: 58px;
    width: 70%;
}

.noteMark {
    vertical-align: super;
    font-size: 0.8em;
}

.math {
    font-size: 0.97em;
}
